# Unreal Engine 기본 빌드 산출물
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.VC.db
*.opensdf
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
*.xcuserdata/

# VSCode 관련
.vscode/
.vscode/*
*.code-workspace

# Mac OS 관련
.DS_Store
.AppleDouble
.LSOverride

# 빌드 결과물
*.pdb
*.exe
*.dll
*.lib
*.app
*.dSYM/
*.ipa

# IDE 환경 설정
.idea/
*.iml

# 기타
Thumbs.db
desktop.ini

# Unreal Engine 임시 로그
*.log
*.tlog
*.obj
*.pch
*.idb
*.pyc
*.pyo
